PORT=3000
DB_USER=postgres
DB_HOST=localhost
DB_NAME=tu_base_de_datos
DB_PASSWORD=tu_password
DB_PORT=5432

# URL de conexión completa (Opcional, útil para despliegues en la nube)
# DATABASE_URL=postgres://user:password@host:port/database